* {
  margin: 0;
  padding: 0;
}
body {
  background: rgb(202, 199, 199);
}
#canvas {
  width: 700px;
  height: 700px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0 0 10px #1e90ff);
}
